.message {
  display: flex;
  color: white;
  align-items: center;
  padding: 20px;
}

.message__info {
  margin-left: 20px;
}
.message__info>img {
  width: 100%;
  object-fit: contain;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.message__timestamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
